/*Sidebar*/

button.new-room.ng-scope {
    border: 1px solid red;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: black;
    color: red;
}

button.new-room:hover {
    cursor: pointer;
}

.nav-bar {
    background-color: lightgray;
    position: fixed;
    width: 25%;
    top: 0px;
    left: 0px;
    height: 100%;
    text-align: left;
    padding-left: 5px;
}

.room-name {
    margin-top: 2rem;
}

.room-name:hover {
    cursor: pointer;
}

/*Chats*/
